body {
	margin: 6px;
	padding: 0px;
	
	background-color: #2e3436;
	color: silver;
	
	font-family: "Trebuchet MS", "Lucida Sans", Tahoma, sans-serif;
	font-size: 12pt;
}

a {
	color: silver;
	text-decoration: none;
	border-bottom: 1px dotted grey;
}

ul {
	list-style: none;
	margin: 0px;
}

#logo {
	font-size: 18pt;
	font-weight: bold;
	text-shadow: black 1px 1px 1px;
}

#logo a {
	border-bottom: 0px;
}

#main {
	margin-top: 1em;
}

#wrapper {
	position: fixed;
	top: 0px;
	padding-top: 5px;
	width: 45%;
}

#right {
	float: right;
	width: 50%;
}

ul.job {
	clear: both;
	font-size: 10pt;
	border: 1px solid grey;
	width: 90%;
	display: block;
	padding: 5px;
	margin-bottom: 1%;
}

ul.job .title, ul.job .title a {
	font-weight: bold;
	color: white;
	margin-bottom: 0.5em;
	float: left;
	border-bottom: 0px;
}

ul.job .time {
	float: right;
}

ul.job .desc {
	clear: both;
}

.ico {
	padding-left: 22px;
	background-repeat: no-repeat;
	background-position: left;
}

.ico_freelance_ru {
	background-image: url('/img/favicons/freelance_ru.png');
}

.ico_weblancer_net {
	background-image: url('/img/favicons/weblancer_net.png');
}
